
section#profile_status

  div.avatar.avatar-small
    -var avatar = user
    include avatar

  h3 #{user.name}
  small.right
    a(href='#invite-colleagues') Invite colleagues
  if (user.city || user.country)
    p #{user.city}, #{user.country}

  if (user.completion < 0.98)
    div.completeness
      div.progress_bar(title='Please fill out: #{user.incomplete}')
        p You're profile is 
          strong #{Math.round(user.completion * 100)} %  
          | complete 
      div.bar
        div.bar_inner(style="width:" + ( (user.completion * 100) + "%" ))
    div.clearfix
