- var messages = flash()
each val, key in messages
  div.modal(role='dialog', id='flash_message') 
    div.modal_body(class=key)!=val
header#page_head
  div.layout_960    
    if (typeof headtype !== 'undefined' && headtype === 'nonav')
      a.logo.center(href='/') MovingWorlds
    else if user.loggedIn
      div(id='setup-menu', class='dropdown dropdown-tip')
        ul.dropdown-menu
          li: a(href='/landing') Home
          li: a(href='/setup/basic') Basic Info
          if (user.model === 'experteer')    
            li: a(href='/setup/preferences') Experteering Preferences
            li: a(href='/setup/skills') Professional Skills
            li: a(href='/setup/plan') Plan & Payment Info
          if (user.model === 'organization') 
            li: a(href='/setup/company') Company Info
            li: a(href='/opportunity') Add Opportunity
            li: a(href='/setup/review') Account Review

          li: a#change-password(href='#') Change Password
          li: a(href='/profile/' + user.id) Profile
          li: &nbsp;
          li: a(href='/logout') Logout    
      a.logo(href='/landing') MovingWorlds
      nav
        ul
          li.subnav: a(href='/profile/' + user.id)= user.name
          li: a(data-dropdown='#setup-menu').chunky_btn: i.user_icn
          if (typeof search_str === 'undefined' || search_str.length === 0)
            if (user.model === 'organization')
              li
                form(action='/search/experteer', method='get')
                  input(type='search', name='q')
                  button(type='submit') search
            if (user.model === 'experteer')
              li
                form(action='/search/opportunity', method='get')
                  input(type='search', name='q')
                  button(type='submit') search
    else
      a.logo(href='/') MovingWorlds
      nav.clearfix
        ul
          li: a(href='/login') Login
          li
            form(action='/search/opportunity', method='get')
              input(type='search', name='q')
              button(type='submit') search

#password-form.hidden.modal(role='dialog')
  header.gradient.blue
    h2 Change Password
  .modal_body 
    form.pure-form.pure-form-stacked(action='/setup', method='post')
      .pure-u-1-2.middle
        input.pure-input-1(type='password', name='password', placeholder='Old password', required)
      .pure-u-1-2.middle
        input.pure-input-1(type='password', name='newpass', placeholder='New password', required)
      .pure-u-1-2.middle
        input.pure-input-1(type='password', name='confirm', placeholder='Confirm', required)
      .pure-u-1-2.middle
        button.chunky_btn.blue.pure-input-1(type='submit') Update

#payment-modal.hidden.modal
  header.gradient.blue
    a.close: i.icon-remove
    h2#plan
    h3#price
  .modal-body
    form#payment-form.pure-form.pure-form-stacked.pure-g.pure-cozy(action='/payment', method='post', autocomplete='on')
      input(type='hidden', name='plan', id='planName')
      .pure-u-1.message
        label.payment-errors
      .pure-u-2-3.number
        label Card number
        input.pure-input-1(type="text", size="20"
          data-stripe="number"
          placeholder='xxxx xxxx xxxx xxxx'
          autocomplete='cc-number'
          required)
      .pure-u-1-3.expires
        label Expires
        input.pure-input-1-2(type='text', size='2'
          data-stripe='exp-month'
          placeholder='MM'
          autocompletetype='cc-exp-month'
          required)
        input.pure-input-1-2(type='text', size='2', 
          data-stripe='exp-year'
          placeholder='YY'
          autocomplete='cc-exp-year'
          required)
      .pure-u-2-3.name
        label Name on card
        input.pure-input-1(type='text', size='20', 
          data-stripe='name'
          autocomplete='name'
          required)
      .pure-u-1-3.cvc
        label Card Code
        input.pure-input-1(type='password', maxlength='4', 
          data-stripe='cvc' 
          placeholder='CVC'
          autocomplete='off'
          required)
      .pure-u-2-3.coupon
        label Coupon Code
        input#coupon.pure-input-1(type='text', placeholder='You lucky dog', name='coupon', autocomplete='off')
      .pure-u-1-3
        label &nbsp;
        button.chunky_btn.blue.pure-input-1(type='submit') Pay 
  .modal-footer
    h3 MovingWorlds Guarantee
    p yadda yadda yadda





