-var account = account || user
div.widget(class=card.model)
  header
    div.icon
    h3 #{card.name}

  section.widget_body

    //- - if (card.organization === user.id) 
      - card.organization = user.toObject()

    //- - if (card.organization === account.id) 
      - card.organization = account.toObject()

    - if (typeof card.organization !== 'undefined') 
      - card.avatar = card.organization.avatar
      - card.type = card.organization.type
      - card.industry = card.industry || card.organization.industry
      - card.orgRegistered = card.organization.orgRegistered
      - card.orgRegisteredYear = card.organization.orgRegisteredYear
      - card.orgRegisteredLocation = card.organization.orgRegisteredLocation
    - else

    -var avatar = card
    include avatar

    ul.clearfix

      //- 
      //- opportunity cards
      if card.model === 'organization'
        if typeof card.organization === 'undefined'

          //- 
          //- organization cards
          li
            label Size 
            strong #{card.size.title} 
          li
            label Type 
            strong #{card.type}

        else 
          li
            label  
              strong #{card.organization.name}

          li
            label 
              em
                strong #{card.start} 
                span to  
                strong #{card.end} 


      //- 
      //- all cards
      li
        label Location 
        strong= card.city + ', ' + card.country

      li
        label Industry
        strong #{card.industry}


      if card.model === 'experteer'
        //- 
        //- experteer cards
        li
          label Age 
          strong #{card.age}
        li
          label Exp 
          strong #{card.experienceYears} years

    nav 
      ul 
        if typeof card.buttonView !== 'undefined'
          if typeof card.opportunity === 'undefined' 
            li: a(href=card.url).chunky_btn.small Details
          else
            li: a(href='/profile/' + card.organization.id + '/' + card.id).chunky_btn.small Details 

        if (typeof card.buttonEdit !== 'undefined')
          if (typeof card.opportunity === 'undefined')
            li: a(href='/landing').chunky_btn.small Edit
          else
            li: a(href='/setup/opportunity/' + card.id).chunky_btn.small Edit
    div.clearfix &nbsp;