extends ../layouts/layout

block append scripts
  script(src='/javascript/plugins/jquery-ui.min.js')
  script(src='/javascript/plugins/jquery.tag-it.js')
  script(src='/javascript/plugins/jquery.cookie.js')
  script(src='/javascript/landing.js')

block content
  div.layout_960
    div.col1of2
      include partials/account-nav
      section.clearfix
        nav.clearfix
          ul 
            li 
              h4 Activity
        div#recent_activity
          ul
            for action, i in user.activity
              li 
                div.icon
                  span.send_icn.gray
                p 
                  small
                    a(href=action.account.url) #{action.account.name} 
                    span #{action.type} 
                    a(href=action.peer.url) #{action.peer.name} 
                  time #{action.created} 
            li
              div.icon
                span.user_icn.gray
              p
                small
                  span You signed up. 
                time #{user.created} 
        footer
          p &nbsp; 
      section#profile_status
        ul.todos
          li: h5 Quick Links
          li: a(href='/setup/basic') Edit Profile
          li: a(href='/resources') Resources
          li: a(href='/training') Experteer Training
          li: a(href='/manifesto') Experteer Manifesto
          li: a(href='/discounts') Discounts
          li: a(href='/delete') Delete this profile
    div.col2of2
      section#recommendations
        header
          a.refresh_icn.gray.right(href='/landing') reload
          h2 Recommendations
        if (typeof search_result !== 'undefined' && search_result.length)
          for card, i in search_result
            -card.buttonView = true
            include partials/card
        else
          div.info Sorry, we don't have any recommendations for you.
      p &nbsp;
