extends layouts/layout

block append scripts
    script(src='/javascript/plugins/jquery-ui.min.js')
    script(src='/javascript/plugins/jquery.mw_modal.js')
    script(src='/javascript/plugins/jquery.validate.min.js')
    script(src='/javascript/invite.js')

block content
  div.layout_630.clearfix
    h1.center= headline
    h3.center= body
    section#invite_area
      hr.clear
      form(action="/invite_extras", method="post")#invite_extras.validate.pure-form.pure-form-stacked.pure-g
        .pure-u-1.choose-model.pure-cozy
          h2 I want to:
          .pure-u-1-2.experteer.field-container
            input#experteer(type="radio", name="model", value="experteer", required)
            label(for='experteer', required).chunky_btn.blue.pure-input-1.btn-radio
              h3
                .icon-stack.experteer-icon.left.icon-2x
                  i.icon-globe.icon-base
                  i.icon-location-arrow
                | Become an Experteer
              p Travel the world and
                br 
                | donate my expertise
          .pure-u-1-2.opportunity
            input#opportunity(type="radio", name="model", value="organization", required)
            label(for='opportunity', required).chunky_btn.red.pure-input-1.btn-radio
              h3
                .icon-stack.opportunity-icon.left.icon-2x
                  i.icon-globe.icon-base
                  i.icon-map-marker
                | Host an Experteer
              p Find expert support 
                br
                | for my organization

        .pure-u-1.pure-cozy
          .pure-u-1-2
            label(for="firstname") First Name
            input#firstname.pure-input-1(type="text", name="firstname", value=user.firstname, minlength="2").required

          .pure-u-1-2
            label(for="lastname") Last Name
            input#lastnmae.pure-input-1(type="text", name="lastname", value=user.lastname, minlength="2").required

          .pure-u-1-2
            label(for="email") Email Address
            input#email.pure-input-1(type="email", name="email", value=user.email)

          .pure-u-1-2
            label(for="recommendedBy") How did you hear about us?
            select(id="recommendedBy", name="recommendedBy", data-disable-search='true')
              option(value="") Choose one...
              option(value="advertisement") Advertisement
              option(value="email") Email/Newsletter
              option(value="facebook") Facebook
              option(value="google") Google+
              option(value="twitter") Twitter
              option(value="friend") Family or Friend
              option(value="press") Press
              option(value="search") Search
              option(value="another website") Another website
              option(value="other") Other

        .actions
          button(type="submit", data-toggle="modal", data-target="#modal").chunky_btn.blue Request an Invitation
