extends layouts/layout

block append scripts
  script(src='/javascript/setup.js')
  script(src='/javascript/search.js')

block content

  - if (typeof search_result === 'undefined')
    - search_result = []

  div.layout_960
    div.col1of2
      //- include partials/account-nav
      section#recommendations
        header
          h6.right.gray #{search_result.length} found
          h2 Search 
      form#search-form.pure-form.pure-form-stacked.pure-compact(action='#', method='get')
        .pure-u-1
          label Search Term
          input.pure-input-1(type='text', name='q', value=query.q)
        .pure-u-1
          label Location
          select.data-select-value(
            name='filter[country]'
            data-value=query.filter.country
            data-single-deselect)
            include forms/countries_combo
        .pure-u-1
          label Type of Impact
          select.data-select-value(
            name='filter[impactArea]'
            data-value=filter.impactArea
            data-single-deselect)
            include forms/impact_combo
        .pure-u-1
          label Support Area
          select.data-select-value(
            name='filter[supportArea]', 
            data-value=filter.supportArea
            data-single-deselect)
            include forms/area_support_combo
        .pure-u-1
          button.chunky_btn.blue.pure-input-1(type='submit')
            i.icon-search
            | &nbsp;Search

    div.col2of2
      section#recommendations
        if (search_result.length)
          for card, i in search_result
            -card.buttonView = true
            include partials/card
        else 
          em 
            strong #{query.q} 
            | Returned no results.
        if !user.loggedIn
          div.widget.experteer.right
            section.widget_body
              form(action='/invite', method='post')
                ul.clearfix
                  li
                    strong.center See more details, more organizations, and request intros
                ul.left
                  li 
                    input(
                      type='text', 
                      placeholder='Enter your email', 
                      name='email'
                      ) 
                  li
                    button.chunky_btn.blue(type='submit') Request an invite
                ul.right
                  li 
                    span Have an account? 
                    br 
                    a(href='/login') Log in
        footer.clear
          if (typeof page !== 'undefined' && typeof pages !== 'undefined')
            nav.pagination
              ul
                li
                  a.previous(
                    data-page=previousPage,
                    href='#', 
                    class=(previousPage ? '' : 'disabled' ) 
                    ) 
                li.page_info
                  | #{page} 
                  em of 
                  | #{pages} 
                li
                  a.next(
                    data-page=nextPage,
                    href='#',
                    class=(nextPage ? '' : 'disabled' )
                    ) 
