extends layouts/layout

block append scripts
    script(src='/javascript/setup.js')

block content
  div.layout_960
    
    include partials/account-nav

    section.stack_960
      header
        h2 Step 2: Experteering Preferences
      section.stack_body
        p.disclaimer
          | Tell us why type of organization you want to support and 
          | what skills you have to donate. This helps us find 
          | amazing organizations that need your expertise.

        form.pure-form.pure-form-stacked.pure-g(action='/setup', method='post', enctype='multipart/form-data')
          .pure-u-1.pure-cozy
            .pure-control-group.pure-u-1-2
              label
                h4 Industry
                | Where do you have the most experience?
              select.data-select-value(
                id='industry', 
                name='industry', 
                data-value=user.industry
                data-placeholder='Choose an industry...')
                include forms/industry_combo

            .pure-control-group.pure-u-1-2
              label
                h4 Organization
                | Which type of organization do you want to empower?
              select.data-select-value(
                name='experteerEnvironment', 
                data-value=user.experteerEnvironment
                data-disable-search)
                include forms/orgTypes

            .pure-control-group.pure-u-1-2
              label
                h4 Countries
                | Where would you like to go?
              select.data-select-value(
                name='experteerCountries', 
                data-value=user.experteerCountries
                data-placeholder='Add some countries...'
                multiple).combobox
                include forms/countries_combo

            .pure-control-group.pure-u-1-2
              label
                h4 Spoken Languages
                | What languages are you conversational in?
              select.data-select-value(
                name='languages'
                data-value=user.languages
                data-placeholder='Pick your languages...'
                multiple)
                include forms/languages_combo

            .pure-control-group.pure-u-1
              label
                h4 Causes
                | Choose up to 5 causes and impact areas you care about.
              select.data-select-value(
                name='experteerImpact', 
                data-value=user.experteerImpact
                data-placeholder='Add a cause...'
                multiple
                )
                include forms/impact_combo 

            .pure-u-1.pure-control-group
                label
                  h4 Expertise
                  | What areas do you want to help with?
                select.data-select-value(
                  name='supportArea', 
                  data-value=user.supportArea
                  data-placeholder='Choose some areas...'
                  multiple).combobox
                  include forms/area_support_combo

            .pure-control-group.pure-u-1-2
              label
                h4 Availability
                | Provide your desired start and end dates.
              .dates.row-icon
                .datepicker.pure-u-1-2.full
                  input.pure-input-1.date(type='text', name='experteerStart', value=user.experteerStart) 
                    | Earlest start date of Experteering engagement 
                .icon.cozy
                  i.icon-arrow-right
                .datepicker.pure-u-1-2
                  input.pure-input-1.date(type='text', name='experteerEnd', value=user.experteerEnd) 
                    | Latest end date of engagement 

            .pure-control-group.pure-u-1-2
              label
                h4 Duration
                | How long would you like to experteer for?
              input.pure-input-1(type='text', name='')

            .pure-control-group.pure-u-1
              label
                h4 The Big Why
                | Why do you want to go Experteering and what do you hope to learn?
              textarea.pure-input-1(
                name='experteerMotivation', 
                placeholder='E.g: I love to work on musical projects, the combination of music and teaching makes me tick!'
                )=user.experteerMotivation

          - var actions = { next: '/setup/skills', prev: '/setup/basic' }
          include partials/setup-actions
      footer
