extends layouts/layout

block append scripts
    script(src='/javascript/setup.js')

block content
  div.layout_960
    
    include partials/account-nav

    section.stack_960
      header
        h2 Step 2: Experteering Preferences
      section.stack_body
        p
          | Tell us why type of organization you want to support and 
          | what skills you have to donate. This helps us find 
          | amazing organizations that need your expertise.

        form(action='/setup', method='post', enctype='multipart/form-data')

          fieldset 

            ul 
              li.half
                h4.right Causes you want to support:
                label.right Choose up to 5 causes and impact areas you care about.
              li.half 
                select.data-select-value(
                  name='experteerImpact', 
                  data-value=user.experteerImpact.join(',')
                  )
                  include forms/impact_combo 

            ul 
              li.half 
                h4.right I'd like to go to:
                label.right What countries do you want to go Experteering in?
              li.half
                select.data-select-value(
                  name='experteerCountries', 
                  data-value=user.experteerCountries.join(','),
                  ).combobox
                  include forms/countries_combo

            ul 
              li.half 
                h4.right I want to help with:
                label.right what most closely matches your skills and interests?
              li.half 
                select.data-select-value(
                  name='supportArea', 
                  data-value=user.supportArea.join(',')
                  ).combobox
                  include forms/area_support_combo

            ul 
              li.half 
                h4.right Preferred type of organizations: 
                //- label.right choose up to 3 options
              li.half 
                select.data-select-value(
                  name='experteerEnvironment', 
                  data-value=user.experteerEnvironment.join(',')
                  ).combobox
                  include forms/orgTypes

            ul 
              li.half   
                h4.right Available time:
                label.right Indicate when you are available to go Experteering

              li.half
                ul
                  li.half.datepicker
                    input.date(type='text', name='experteerStart', value=user.experteerStart) 
                      | Earlest start date of Experteering engagement 
                  li.half.datepicker
                    input.date(type='text', name='experteerEnd', value=user.experteerEnd) 
                      | Latest end date of engagement 

            ul 
              li.half  
                h4.right Length of travel:
                label.right Indicate the length of time you want to Experteer for
              li.half 
                input(type='text', name='')

            ul 
              li.half 
                h4.right Spoken languages: 
                label.right Enter the languages you are conversational in.
              li.half 
                input.tags(type='text', name='languages', value=user.languages)

            ul 
              li.half  
                h4.right Which industries do you have experience in?
                label.right Select the most recent
              li.half 
                select.data-select-value(
                  id='industry', 
                  name='industry', 
                  data-value=user.industry
                  ).combobox
                  include forms/industry_combo

            ul 
              li.half  
                h4.right Experteering statement
                label.right Why do you want to go Experteering and what do you want to learn?
              li.half 
                textarea(
                  name='experteerMotivation', 
                  placeholder='E.g: I love to work on musical projects, the combination of music and teaching makes me tick!'
                  )=user.experteerMotivation
          nav#progress
            a(href='/setup/history')#skip.big.smooth_btn.gray Skip 
            | &nbsp; 
            button(type='submit')#next.big.smooth_btn Save 














        //- form(action='/setup', method='post', enctype='multipart/form-data')
          fieldset.col1of2.split
            ul
              li
                label(for='headline') Professional headline
                  span max 50 characters
                input(
                  type='text', 
                  id='headline', 
                  name='headline', 
                  tabindex='0', 
                  value=user.headline, 
                  placeholder='What you do best in few words'
                  )
              li
                label(for='skills') Skills & Expertise
                  span Enter your skills, comma-separated
                input(
                  type='text', 
                  id='skills', 
                  name='skills', 
                  tabindex='1', 
                  class='tags', 
                  value=user.skills
                  )
              li
                label(for='interests') Interests
                  span Enter your interests, comma-separated
                input(
                  type='text', 
                  id='interests', 
                  name='interests', 
                  tabindex='2', 
                  class='tags', 
                  value=user.interests
                  )
              li
                label(for='description') Personal Description
                  span max 500 characters
                textarea(
                  id='description', 
                  name='description', 
                  tabindex='3', 
                  placeholder='Describe yourself and your experience. Try to be appealing and concise!'
                  )=user.description
          fieldset.col2of2.split
            ul
              //- li#upload_avatar
              //-   label Upload your Photo
              //-   div.avatar
              //-     .av_img_container
              //-       img(
              //-         src=user.avatar || '/images/icn_avatar_experteer.png', 
              //-         width='80', 
              //-         height='80'
              //-         )
              //-   input(type='file', id='avatar', name='avatar', tabindex='6')
              li
                label(for='languages') Languages
                  span Enter your languages, comma-separated
                input(
                  type='text', 
                  id='languages', 
                  name='languages', 
                  tabindex='8', 
                  class='tags', 
                  value=user.languages
                  )
              li
                label(for='visited') Countries visited
                  span Enter countries, comma-separated
                input(
                  type='text', 
                  id='visited', 
                  name='visited', 
                  tabindex='5', 
                  class='tags', 
                  value=user.visited
                  )
              //- li
                label Area of support
                  span max 6
                select.data-select-value(
                  id='supportArea', 
                  tabindex='9',
                  data-value=user.supportArea.join(',')
                  ).combobox
                  include forms/area_support_combo
                a(style='margin-top: 5px')#add_support.chunky_btn.small.right Add
                div#areas.tagit

          h3.clear Networks
          hr
          fieldset.col1of2.split
            ul
              li
                label(for='url') Blog / Website
                input(
                  type='text', 
                  id='linksUrl', 
                  name='linksUrl', 
                  tabindex='12', 
                  value=user.linksUrl, 
                  placeholder='Your website link here'
                  )
              li
                label(for='twitter') Twitter
                input(
                  type='text', 
                  id='linksTwitter', 
                  name='linksTwitter', 
                  tabindex='14', 
                  value=user.linksTwitter, 
                  placeholder='Your Twitter profile link here'
                  )
          fieldset.col2of2.split
            ul
              li
                label(for='linkedin') LinkedIn
                input(
                  type='text', 
                  id='linksLinkedin', 
                  name='linksLinkedin', 
                  tabindex='13', 
                  value=user.linksLinkedin, 
                  placeholder='Your Linkedin profile link here'
                  )
              li
                label(for='facebook') Facebook
                input(
                  type='text', 
                  id='linksFacebook', 
                  name='linksFacebook', 
                  tabindex='15', 
                  value=user.linksFacebook, 
                  placeholder='Your Facebook profile link here'
                  )
          h3.clear Preferences
          hr
          fieldset.col1of2.split
            fieldset
              ul
                li.half.datepicker
                  label Availabile From
                  input.date(
                    type='text', 
                    name='experteerStart', 
                    data-months='1', 
                    data-years='2', 
                    value=user.experteerStart
                    )
                li.half.datepicker
                  label To
                  input.date(
                    type='text', 
                    name='experteerEnd', 
                    data-months='1', 
                    data-years='2', 
                    value=user.experteerEnd
                    )
            //- h4 I'd like to go to
            //- ul
              li
                select.data-select-value(
                  id='experteerCountries', 
                  name='experteerCountries', 
                  data-value=user.experteerCountries.join(','),
                  class='combobox'
                  )
                  include forms/countries_combo
                  //- optgroup(label='Regions')
                    - for(var key in regionList) {
                      - var isSelected = user.experteerCountries.indexOf(key) > -1;
                      option(value=key,selected=isSelected)= regionList[key]
                    - }
                  //- optgroup(label='Countries')
                    - for(var key in countryList) {
                      - var isSelected = user.experteerCountries.indexOf(key) > -1;
                      option(value=key,selected=isSelected)= countryList[key]
                    - }

          fieldset.col2of2.split
            h4 Preferred Work Environment
            div.checkboxes
              ul
                li.half
                  input(
                    type='checkbox', 
                    name='experteerEnvironment', 
                    value='Private Sector', 
                    checked=user.experteerEnvironment.indexOf('Private Sector') > -1
                    )
                  label Private Sector
                li.half
                  input(
                    type='checkbox', 
                    name='experteerEnvironment', 
                    value='Urban', 
                    checked=user.experteerEnvironment.indexOf('Urban') > -1
                    )
                  label Urban
              ul
                li.half
                  input(
                    type='checkbox', 
                    name='experteerEnvironment', 
                    value='NGO', 
                    checked=user.experteerEnvironment.indexOf('NGO') > -1
                    )
                  label NGO
                li.half
                  input(
                    type='checkbox', 
                    name='experteerEnvironment', 
                    value='Rural', 
                    checked=user.experteerEnvironment.indexOf('Rural') > -1
                    )
                  label Rural
              ul
                li.half
                  input(
                    type='checkbox', 
                    name='experteerEnvironment', 
                    value='Government', 
                    checked=user.experteerEnvironment.indexOf('Government') > -1
                    )
                  label Government
                li.half
                  input(
                    type='checkbox', 
                    name='experteerEnvironment', 
                    value='Nature', 
                    checked=user.experteerEnvironment.indexOf('Nature') > -1
                    )
                  label Nature
              ul(style='height: 100px')
                li.half
                  input(
                    type='checkbox', 
                    name='experteerEnvironment', 
                    value='Research', 
                    checked=user.experteerEnvironment.indexOf('Research') > -1
                    )
                  label Research
                li.half
                  input(
                    type='checkbox', 
                    name='experteerEnvironment', 
                    value='Anywhere', 
                    checked=user.experteerEnvironment.indexOf('Anywhere') > -1
                    )
                  label Anywhere
          fieldset.col1of2.split
            h4 I'd like to make a positive impact in
            ul
              li
                input(
                  id='impact_value', 
                  type='hidden', 
                  value=user.experteerImpact
                  )
                select.data-select-value(
                  id='experteerImpact', 
                  name='experteerImpact', 
                  tabindex='15', 
                  data-value=user.experteerImpact.join(',')
                  )
                  include forms/impact_combo.jade

          fieldset.col2of2.split
            h4 Monetized Value
            ul
              li
                label USD/hour
                input(
                  type='text', 
                  name='experteerCompensation', 
                  value=user.experteerCompensation
                  )
          fieldset.col1of2.split
            h4 Preferred Area of Support
            ul
              li
                label
                  //- span max 6
                select.data-select-value(
                  name='supportArea', 
                  tabindex='9',
                  data-value=user.supportArea.join(',')
                  )
                  include forms/area_support_combo
                
                //- a(style='margin-top: 5px')#add_area_support.chunky_btn.small.right Add
                //- div#areas.tagit

          fieldset.col2of2.split
            h4 I get motivated & inspired by
            ul
              li
                label
                  span max 500 characters
                textarea(
                  name='experteerMotivation', 
                  placeholder='E.g: I love to work on musical projects, the combination of music and teaching makes me tick!'
                  )=user.experteerMotivation

          //- if !user.headline
            input(type='hidden', name='next', value='/setup/history')

          nav#progress
            a(href='/setup/history')#skip.big.smooth_btn.gray Skip
            button(type='submit')#next.big.smooth_btn Save
      footer
