extends layouts/layout

block append scripts
    script( src='/javascript/setup.js')

block content

  div.layout_960
    
    include partials/account-nav

    section.stack_960
      header
        h2 Step 3: Professional Skills
      section(class="stack_body clearfix step3")
        form.pure-form.pure-form-stacked( action="/setup", method="post")
          .pure-u-1.pure-cozy
            .pure-u-1-2.slider_container
              label.slider_label Years of work experience
                span #{user.experienceYears || 0}
              div.data-select-value.slider#experienceYears(
                data-min="0", 
                data-max="30", 
                data-value=user.experienceYears || 0
                )
              input(
                type="hidden", 
                name="experienceYears", 
                value=user.experienceYears || 0, 
                )
            .pure-u-1-2
              label(for="industry") Industry
              select.data-select-value(
                id="industry", 
                name="industry", 
                class="combobox", 
                data-value=user.industry
                )
                include forms/industry_combo
          #work_history.clone_container(data-template="work_template")
            legend
              h3 Work History
            each emp, i in user.employment
              if emp
                include forms/work_item
            button.chunky_btn.regular.add_btn.right
              i.icon-plus
              |  Add New Employment

          #education_history.clone_container(data-template="education_template")
            legend
              h3 Education
            each edu, i in user.education
              if edu
                include forms/education_item
            button.chunky_btn.regular.add_btn.right
              i.icon-plus
              |  Add New Education

          //- if !user.industry
          input(type='hidden', name='next', value='/setup/plan')

          nav#progress.pure-u-1
            a(href="/setup/plan")#skip.big.smooth_btn.gray Skip
            | &nbsp;
            button(type="submit")#next.big.smooth_btn Save &amp; Continue
      footer


  script#work_template(type="text/template")
    | <div class="pure-u-1 pure-cozy">
    | <div class="pure-u-1-3">
    |   <label for="employment[##][employer]">Employer</label>
    |   <input type="text" class="pure-input-1" id="employment[##][employer]" name="employment[##][employer]">
    | </div><div class="pure-u-1-3">
    |   <label for="employment[##][position]">Position</label>
    |   <input type="text" class="pure-input-1" id="employment[##][position]" name="employment[##][position]">
    | </div><div class="pure-u-1-3">
    |   <label>Status</label>
    |   <button type="button" class="delete_btn chunky_btn right"><i class="icon-remove"></i></button>
    |   <input type="checkbox" class="pure-input-1" id="employment[##][current]" name="employment[##][current]" value="true">
    |   <label for="employment[##][current]">I currently work here</label>
    | </div>
    | </div>

  script#education_template(type="text/template")
    | <div class="pure-u-1">
    | <div class="pure-u-11-12 pure-cozy">
    | <div class="pure-u-1-2">
    |   <label for="education[##][school]">School Name</label>
    |   <input type="text" class="pure-input-1" id="education[##][school]" name="education[##][school]">
    | </div><div class="pure-u-1-2">
    |   <label for="education[##][degree]">Degree</label>
    |   <input type="text" class="pure-input-1" id="education[##][degree]" name="education[##][degree]">
    | </div><div class="pure-u-1-2">
    |   <label for="education[##][major]">Fields of study
    |     <span>seperate multiple values with commas</span>
    |   </label>
    |   <input type="text" class="pure-input-1 tags" id="education[##][major]" name="education[##][major]">
    | </div><div class="pure-u-1-2">
    |   <label>Dates of Study</label>
    |   <div class="dates row-icon">
    |     <div class="datepicker pure-u-1-2 full">
    |       <input type="text" class="pure-input-1 date" name="experteerStart"> 
    |     </div>
    |     <div class="icon cozy">
    |       <i class="icon-arrow-right"></i>
    |     </div>
    |     <div class="datepicker pure-u-1-2">
    |       <input type="text" class="pure-input-1 date" name="experteerEnd">
    |     </div>
    |   </div>
    | </div>
    | </div><div class="pure-u-1-12">
    |   <label>&nbsp;</label>
    |   <button class="delete_btn chunky_btn right"><i class="icon-remove"></i></button>
    | </div>
    | </div>
