extends layouts/layout

block append scripts
  script(src='/javascript/setup.js')

block content
  div.layout_960
    include partials/account-nav
    //- - if ('undefined' !== typeof errors && errors.length)
      ul.error
        - each error in errors
          li= error
    section.stack_960
      header
        h2 Step 1: Basic Information
      section.stack_body
        form.pure-form.pure-form-stacked.pure-g(id='step1', action='/setup', method='post', enctype='multipart/form-data')
          if (!user.hash)
            .pure-u-1.pure-cozy.role_boxes
              .pure-u-2-5
                label(for='password') Password
                input#password.pure-input-1(type='password', name='password')
              .pure-u-2-5
                label(for='confirm') Confirm Password
                input#confirm.pure-input-1(type='password', name='confirm')
              .pure-u-1-5
                label &nbsp;
                label 6 character minimum.
                label Pick a good one.
          
          .pure-u-1.disclaimer
            if (user.model === 'experteer')
              if (!user.linkedinId)
                | Connect your account with LinkedIn 
                a(href='/auth/linkedin').linkedin_signup 
              else
                | Your account is connected to linkedin 
                a(href='/auth/linkedin').chunky_btn.small Resync with LinkedIn 
          
          .pure-u-1.pure-cozy
            .pure-u-2-5
              label(for='firstname') First Name
              input#firstname.pure-input-1(type='text', name='firstname', value=user.firstname)
            .pure-u-2-5
              label(for='lastname') Last Name
              input#lastname.pure-input-1(type='text', name='lastname', value=user.lastname)
            .pure-u-1-5
              label Gender
              ul.inline.unstyled.gender
                li
                  input#male(type='radio', name='gender', value='male', checked=(user.gender == 'male'))
                  label(for='male') Male
                li
                  input#female(type='radio', name='gender', value='female', checked=(user.gender == 'female'))
                  label(for='female') Female
          
          .pure-u-1.pure-cozy
            .pure-u-2-5
              label(for='email') Email
              input#email.pure-input-1(type='text', name='email', value=user.email)
            .pure-u-2-5
              label(for='city') City
              input#city.pure-input-1(type='text', name='city', value=user.city)
            .pure-u-1-5
              label(for='country') Country
              select#country.data-select-value.pure-input-1(name='country', data-value=user.country)
                include forms/countries_combo
          
          .pure-u-1.pure-cozy
            .pure-u-2-5
              label Birthday
              .datepicker
                input.pure-input-1.date(
                  type='text'
                  name='birthday'
                  data-months='1'
                  data-years='2'
                  value=user.birthday)
            .pure-u-3-5
              label Upload your Photo
              //- div.avatar.avatar-small
                //- img(src=user.avatar || '/images/icn_avatar_experteer.png')
              input.pure-input-1(type='file', id='avatar', name='avatar')

          .pure-u-1
            input#agree.required(type='checkbox', name='agree', checked=user.agree === true)
            label(for='agree')
              | I agree to 
              a(href='/terms_conditions', target='_blank') MovingWorlds terms and conditions

          - var actions = { next: '/setup/preferences' }
          - if (user.model === 'organization') { actions.next = '/setup/company' }
          include partials/setup-actions
      footer
        