extends layouts/layout

block append scripts
  script(src='/javascript/setup.js')

block content
  div.layout_960
    include partials/account-nav
    section#edit.stack_960
      - if (opportunity.name.length === 0)
        header
          h2.opportunity_icon Add a New Opportunity
      - else
        header
          h2.opportunity_icon #{opportunity.name}
            | &nbsp; 
            div.right
              a.chunky_btn.small.round(href='/opportunity/' + opportunity.id + '/delete') Delete
              | &nbsp;
              a.chunky_btn.small.round.on(href='/opportunity/' + opportunity.id ) Edit
              | &nbsp;
              a.chunky_btn.small.round(href='/profile/' + user.id + '/' + opportunity.id ) View
              span &nbsp; &nbsp; 

      div.stack_body.clearfix
        form.pure-form.pure-form-stacked.pure-cozy.pure-g(id='rep_step3', action='/opportunity/' + opportunity.id, method='post')
          input(type='hidden', name='opportunity[_id]', value=opportunity.id)
          .pure-u-1.pure-cozy
            legend: h3 Describe the Opportunity
            .pure-u-1-2
              label(for='name') Eye-Catching Description
                span max 50 characters
              input#name.pure-input-1(
                type='text'
                name='opportunity[name]'
                placeholder='What / who are you looking for?'
                value=opportunity.name)

            .pure-u-1-2.pure-cozy
              .pure-u-1-2
                label(for='city') city
                input.pure-input-1(type='text', name='opportunity[city]', value=opportunity.city)
              .pure-u-1-2
                label(for='country') Country
                select#country.data-select-value(
                  name='opportunity[country]'
                  class='combobox'
                  data-value=opportunity.country
                  value=opportunity.country)
                  include forms/countries_combo

            .pure-u-1-2
              label(for='description') Project Details
                span max 500 characters
              textarea#description.pure-input-1(
                name='opportunity[description]'
                placeholder='Describe your opportunity'
                )=opportunity.description
            
            .pure-u-1-2
              label(for='desiredResult') Desired Results
                span max 500 characters
              textarea#desiredResult.pure-input-1(
                name='opportunity[desiredResult]'
                placeholder='What is the ideal output for this project? Be specific to give a clear idea of the deliverables you are looking for.'
                )=opportunity.desiredResult
            
            .pure-u-1-2
              label(for='deadline') Apply Before
                span expiration date for applying to this opportunity
              .datepicker
                input#deadline.pure-input-1.date(
                  type='text'
                  name='opportunity[deadline]'
                  value=opportunity.deadline)
            
            .pure-u-1-2
              label Opportunity Duration
              .dates.row-icon
                .datepicker.pure-u-1-2.full
                  input#start.pure-input-1.date(type='text', name='opportunity[start]', value=opportunity.start) 
                    | Earliest start date of opportunity
                .icon.cozy
                  i.icon-arrow-right
                .datepicker.pure-u-1-2
                  input#end.pure-input-1.date(type='text', name='opportunity[end]', value=opportunity.end) 
                    | Latest end date of opportunity 
            
            .pure-u-1-2
              label Accomodation provided?
                ul.inline.unstyled
                  li
                    input#yesAccomodation(
                      type='radio'
                      name='opportunity[accomodation]'
                      value='Yes'
                      checked=(opportunity.accomodation === 'Yes')
                      )
                    label(for='yesAccomodation') Yes
                  li
                    input#noAccomodation(
                      type='radio'
                      name='opportunity[accomodation]'
                      value='No'
                      checked=(opportunity.accomodation === 'No')
                      )
                    label(for='noAccomodation') No
                  li
                    input#tbdAccomodation(
                      type='radio'
                      name='opportunity[accomodation]'
                      value='To be defined'
                      checked=(opportunity.accomodation === 'To be defined')
                      )
                    label(for='tbdAccomodation') To be defined
            
            .pure-u-1-2
              label Compensation for travel and/or local cost of living?
              ul.inline.unstyled
                li
                  input#yesCompensation(
                    type='radio'
                    name='opportunity[compensation]'
                    value='Yes'
                    checked=(opportunity.compensation === 'Yes')
                    )
                  label(for='yesCompensation') Yes
                li
                  input#noCompensation(
                    type='radio'
                    name='opportunity[compensation]'
                    value='No'
                    checked=(opportunity.accomodation === 'No')
                    )
                  label(for='noCompensation') No
                li
                  input#tbdCompensation(
                    type='radio'
                    name='opportunity[compensation]'
                    value='To be defined'
                    checked=(opportunity.accomodation === 'To be defined')
                    )
                  label(for='tbdCompensation') To be defined
            
            .pure-u-1-2
              label(for='opportunity[benefits]') Additional amenities / benefits?
              textarea#benefits.pure-input-1(name='opportunity[benefits]')=opportunity.benefits
            
            .pure-u-1-2
              label(for='opportunity[learn]') Learning Opportunity
              textarea#learning.pure-input-1(name='opportunity[learn]')=opportunity.learn

          .pure-u-1.pure-cozy
            legend: h3 Describe Your Ideal Experteer
            .pure-u-1
              label Areas of Support Desired
              select.data-select-value(
                multiple=true
                name='opportunity[supportArea]'
                data-value=opportunity.supportArea
                data-placeholder='Choose some areas...')
                include forms/area_support_combo
            
            .pure-u-1.pure-cozy.section
              .pure-u-1-2.slider_container
                label.slider_label Years of work experience
                  span #{opportunity.experienceYears || 0}
                div.data-select-value.slider#experienceYears(
                  data-min='0'
                  data-max='30'
                  data-value=opportunity.experienceYears || 0)
                input(
                  type='hidden'
                  name='opportunity[experienceYears]'
                  value=opportunity.experienceYears || 0)
              .pure-u-1-2
                  label(for='skills') Favored Skills &amp; Expertise
                    span max 3
                  input#skills.tags(
                    type='text' 
                    name='opportunity[skills]'
                    data-max='3'
                    value=opportunity.skills)
              .pure-u-1-2
                  label(for='languages') Favored Languages
                    span max 3
                  select#languages.data-select-value(
                    name='opportunity[languages]' 
                    data-max-options='3'
                    data-value=opportunity.languages
                    data-placeholder='Pick some languages...'
                    multiple)
                    include forms/languages_combo
              .pure-u-1-2
                  label Development impact
                  select#impact.data-select-value.pure-input-1( 
                    name='opportunity[impact]'
                    data-value=opportunity.impact
                    value=opportunity.impact)
                    include forms/impact_combo

          - var actions = { prev: '/setup/company', next: '/setup/review' }
          include partials/setup-actions

      footer
