!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
	html.no-js.lt-ie9.lt-ie8(lang='en')
//if IE 8
	html.no-js.lt-ie9(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
	//<![endif]
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width')
		meta(name='title', content=title || "MovingForward | The official Blog of MovingWorlds" )
		meta(property="og:title", content=title)
		meta(name="description",content=meta.description)
		meta(property="og:description",content=meta.description)
		meta(property="og:url",content=url)
		meta(property="og:image",content=meta.image)
		meta(property="og:type",content= meta.type || "blog")
		meta(property="fb:admins",content="517242517")
		meta(property="fb:app_id", content="267774456645632")
		link(rel="canonical",href=url)
			
	block style
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Alegreya', rel='stylesheet', type='text/css')
		link(href='/style/blog.css', rel='stylesheet')
		link(href='/favicon.ico', rel='icon', type='image/x-icon')

	block scripts
		script( src='/javascript/lib/modernizr.min.js')
		script( src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script( src='/javascript/blog.js')
	
	body( id="blog" )
		header#page_head.layout
			a#logo(href="/blog")
			nav#utility_nav
				ul
					li
						a(href="/") 
							span.arrow_icn.dark_blue_left
							| Back to MovingWorlds.org
			form(action="/blog", method="get")#search
				input(type="search", name="search")
				button Search
		div#container.layout
			block content
		nav#socials
			ul
				li
					a(href="http://www.facebook.com/movingworlds").facebook Facebook
				li
					a(href="http://twitter.com/markhoroszowski").twitter Twitter
				li
					a(href="http://plus.google.com/u/0/108922624586110967899/posts").googleplus Google+
				li
					a(href="http://www.linkedin.com/company/movingworlds").linkedin LinkedIn