extends ../../layouts/layout

block append scripts
		script( src='/javascript/plugins/jquery-ui.min.js')
		script( src='/javascript/plugins/jquery.mw_combo.js')
		script( src='/javascript/plugins/jquery.tag-it.js')
		script( src='/javascript/plugins/jquery.mw_modal.js')
		script( src='/javascript/plugins/jquery.mw_fieldcloner.js')
		script( src='/javascript/plugins/jquery.validate.min.js')
		script( src='/javascript/register.js')

block content
	div.layout_960
		nav#steps.clearfix
			ul
				li.step1.on
					span Basic Information
				li.step2.on
					span Company Information
				li.step3
					span List Opportunity
				li.step4
					span Review
		section.stack_960
			header
				h2 2. Company Information
			div.stack_body.clearfix
				form(id="rep_step2", action="/register/2/representative", method="post", enctype="multipart/form-data")
					fieldset.col1of2.split
						ul
							li
								label(for="name") Organization Name
								input(type="text", id="name", name="name", tabindex="1", value=se.name )
							li
								label(for="type") Organization Type
								select(id="type", name="type", tabindex="2", class="combobox")
									option(value="profit") For profit company
									option(value="profit-se") For profit (Social) Enterprise
									option(value="non-profit") Non-profit (Social) Enterprise / NGO
									option(value="cooperative") Cooperative
									option(value="educational") Educational Institute
									option(value="research_institute") Research Institute
									option(value="government_agency") Government Agency
									option(value="other") Other
								input(type='hidden', id='type_value', value=se.type)

							li
								label(for="size") Organization Size
								select(id="size", name="size", tabindex="3", class="combobox")
									option(value="0") Startup (founder(s) only)
									option(value="1") Startup (2 - 5 persons)
									option(value="2") Small enterprise (5 - 10 persons)
									option(value="3") Medium sized enterprise (10 - 100 persons)
									option(value="4") Large enterprise (100+ persons)
								input(type='hidden', id='size_value', value=se.size)

							li
								label Is your company legally registered?
								ul
									li
										input(type="radio", id="registered_yes", name="registered[is_registered]", value="true", tabindex="4", checked=se.registered.is_registered == true)
										label(for="yes") Yes
									li
										input(type="radio", id="registered_no", name="registered[is_registered]", value="false", tabindex="5", checked=se.registered.is_registered == false)
										label(for="no") No
							li#registered_options.hidden
								ul
									li.half
										label(for="registered[location]") Location Registered
										input( type="text", id="registered[location]", name="registered[location]", tabindex="6", value=se.registered.location)
									li.half
										label(for="registered.year") Year Registered
										input( type="text", id="registered[year]", name="registered[year]", tabindex="7", value=se.registered.year)
							li
								label(for="representative_type") I represent this organization as its
								select(id="representative_type", name="representative_type", tabindex="8", class="combobox"  )
									option(value="founder") (co) Founder
									option(value="director") Director
									option(value="manager") Manager
									option(value="employee") Employee (other)
									option(value="legal_rep") Legal representative
									option(value="other") Other
								input(type='hidden', id='representative_type_value', value=se.representative_type)

							li
								label(for="url") Website Url
									span example: http://www.mywebsite.com
								input(type="text", id="url", name="url", tabindex="9", value=se.url)
					fieldset.col2of2.split
						ul
							li#upload_avatar
								label Upload your Company Logo
								div.avatar
									.av_img_container
										img(src=se.avatar || "/images/icn_avatar_se.png", width="80", height="80")
								input( type="file", id="avatar", name="avatar", tabindex="14", value="upload image"  )
							li
								label(for="introduction") Description
									span max 500 characters
								textarea(id="description", name="description", placeholder="What does your Organization do?")
									=se.description
							li
								label(for="industry") Industry
								select( id="industry", name="industry", class="combobox")
									include ../../includes/industry_combo
							li
								label(for="video") Video Pitch
									span Checkout our guide <a href="http://movingworlds.com/videopitch" target="_blank">How to record a video pitch</a>
								input( type="text", id="video", name="video", tabindex="7", value=se.video, placeholder="Paste here your YouTube video link", value=se.video)
							li.field-container
								input( type="checkbox", id="conduct", name="conduct", value="true", tabindex="11").required
								label(for="agree")
									| I agree to the&nbsp;
									a(href="/rules_conduct", target="_blank") rules of conduct
					nav#progress
						button(type="submit")#next.big.smooth_btn Next
			footer