extends layouts/layout

block append scripts
	if mine
		script(src='/javascript/plugins/jquery-ui.min.js')
		script( src='/javascript/plugins/jquery.mw_combo.js')
		script( src='/javascript/plugins/jquery.tag-it.js')
		script(src='/javascript/plugins/jquery.validate.min.js')
		script(src='/javascript/experteer.js')

block content
	div.layout_960
		aside#personal_details.col1of2
			div.widget.experteer
				header
					div.icon
					h3= experteer.fullName()
				section.widget_body
					div.avatar
						.av_img_container
							if experteer.avatar || experteer.type
								img(src= experteer.avatar || "/images/icn_avatar_"+experteer.type+".png", width="80", height="80")
							if experteer.verified
								div.verified
					ul
						li
							strong Location &nbsp;
							= experteer.city+", "+experteer.country
						if experteer.birthday
							li
								strong Age&nbsp;
								=experteer.age()
						if experteer.gender
							li
								strong Gender&nbsp;
								=experteer.interpretGender()
						if experteer.experience && experteer.experience > 0
							li
								strong Experience&nbsp;
								| #{experteer.experience} years
					if mine
						nav
							ul
								li
									a(href="/settings").chunky_btn Edit my profile
			div.detail.clearfix
				//- nav.credentials.clearfix
					ul
						li
							a.friends_btn(href="/explore") 101
								span Friends
						li
							a.invited_btn(href="/explore") 5
								span invited
							- if(typeof experteer.invite.invited_by !== 'undefined')
								li.invited_by
									span invited by
									a(href="#")= experteer.invite.invited_by
				nav.profile_links
					ul
						if experteer.links
							each link, key in experteer.links
								-var display = (key == 'url') ? link : key
								if link !== ''
									li
										a(href=link, class=key+'_link', )= display

			if experteer.bio && experteer.bio.length > 0
				div.detail
					h4 Biography
					=experteer.bio

			if experteer.education && experteer.education.length > 0
				div.detail
					h4 Education
					each edu in experteer.education
						ul
							li
								strong= edu.school
							li= edu.degree+" "+edu.major
							if edu.start && edu.end
								li= edu.start.getFullYear()+" to "+edu.end.getFullYear();

			if experteer.employment && experteer.employment.length > 0
				div.detail
					h4 Employment History
					each emp in experteer.employment
						ul
							li
								strong= emp.title
							li= emp.employer
							if emp.start && emp.end
								li= emp.start.getFullYear()+" to "+emp.end.getFullYear();

			if experteer.languages && experteer.languages.length
				div.detail
					h4 Languages
					ul
						each lang in experteer.languages
							li= lang

			//- if experteer.lived && experteer.lived.length
				div.detail
					h4 Lived
					=experteer.lived.join(', ');

			if experteer.visited && experteer.visited.length > 0
				div.detail
					h4 Countries Visited
					=experteer.visited.join(', ');

			if experteer.skills && experteer.skills.length > 0
				div.detail
					h4 Skills
					=experteer.skills.join(', ');

		// Experteering Profile
		div#exp_profile.col2of2
			section.status_bar
				-var status = experteer.interpretStatus();
				div(class="status "+status.class)= status.label
				nav
					if mine
						ul
							li
								a.chunky_btn.round Change your status
							//-li
								a.smooth_btn.red Favorite
					else
						ul
							li
								a.smooth_btn.green Request Intro
							//-li
								a.smooth_btn.red Favorite
			section.stack_630
				header
					if experteer.headline
						h2.experteering_icon= experteer.headline
					else
						h2.experteering_icon Your experteer profile
				if experteer.profile.video
					div.profile_video
						div.video_container!= youtube.embed(extractYoutubeId(experteer.profile.video), 558, 314);
				div.stack_body.clearfix
						- if(mine && !user.isProfileComplete())
							p.error Your profile is incomplete, please fill the information below
							br
						if mine
							button#edit_profile.small.chunky_btn.right Edit my experteer profile
						div#profile_info
							div.clearfix
							div.col1of2
								// Availability
								- var availability = user.profile.availability && user.profile.availability.start && user.profile.availability.end
								if !availability && mine
									availability_class = 'error'
								h4(class=availability_class) Availability
								p
									if availability
										dstart = (typeof user.profile.availability.start !== 'undefined') ? settings.moment(user.profile.availability.start).format('MM/DD/YYYY') : ""
										dend = (typeof user.profile.availability.start !== 'undefined') ? settings.moment(user.profile.availability.start).format('MM/DD/YYYY') : ""
										| From #{dstart} to #{dend}
									else
										| No information specified
								// Countries
								- var countries = user.profile.countries && user.profile.countries.length > 0
								if !countries && mine
									countries_class = 'error'
								h4(class=countries_class) I'd like to go to
								p
									if countries
										=user.profile.countries.join(', ')
									else
										| No information specified
								// Industry
								- var industry = user.industry
								if !industry && mine
									industry_class = 'error'
								h4(class=industry_class) Preferred Industry
								p
									if industry
										=user.industry
									else
										| No information specified
								// Development Impact
								- var impact = user.profile.impact
								if !impact && mine
									impact_class = 'error'
								h4(class=impact_class) I'd like to make a positive impact in
								p
									if impact
										=user.interpretImpact()
									else
										| No information specified
							div.col2of2
								// Value
								- var value = user.profile.value
								if !value && mine
									value_class = 'error'
								h4(class=value_class) Monetized Value
								p
									if value
										| #{user.profile.value} USD / hour
									else
										| No information specified
								// Area Support
								- var support = user.area_support && user.area_support.length > 0
								if mine && !support
									support_class = 'error'
								h4(class=support_class) Preferred Area of Support
								p
									if support
										= user.interpretAreaSupport().join(', ')
										input(id="area_support_values", type="hidden", value=JSON.stringify(user.areaSupportObject()))
									else
										| No information specified
								// Motivation
								- var motivation = user.profile.motivation
								if mine && !motivation
									motivation_class = 'error'
								h4(class=motivation_class) I get motivated & inspired by
								p
									if motivation
										| #{user.profile.motivation}
									else
										| No information specified
						if mine
							div#profile_form.hidden
								div.clearfix
								form(action="/experteer/update", method="POST")
									div.col1of2
										h4 Availability
										ul
											li.datepicker
												label From
												- var dstart = (typeof user.profile.availability.start !== 'undefined') ? settings.moment(user.profile.availability.start).format('MM/DD/YYYY') : ""
												- var dend = (typeof user.profile.availability.start !== 'undefined') ? settings.moment(user.profile.availability.start).format('MM/DD/YYYY') : ""

												input( type="text", name="profile[availability][start]", data-months="1", data-years="2", value=dstart)
											li.datepicker
												label To
												input( type="text", name="profile[availability][end]", data-months="1", data-years="2", value=dend)
										h4 I'd like to go to
										ul
											li
												label
													span Enter countries, comma-separated
												input( type="text", name="profile[countries]", class="tags", value=user.profile.countries.join(', ') )
										h4 Preferred Industry
										ul
											li
												label(for="industry")
												select( id="industry", name="industry", class="combobox")
													include includes/industry_combo
										h4 I'd like to make a positive impact in
										ul
											li
												select( id="impact", name="profile[impact]", tabindex="15", class="combobox", value=user.profile.impact )
													include includes/impact_combo.jade
									div.col2of2
										h4 Monetized Value
										ul
											li
												label USD/hour
												input(type="text", name="profile[value]", value=user.profile.value)
										h4 Preferred Area of Support
										ul
											li
												label
													span max 6
												select(id="area_support", tabindex="9").combobox
													include includes/area_support_combo
												a(style="margin-top: 5px")#add_area_support.chunky_btn.small.right Add
												div#areas.tagit
										h4 I get motivated & inspired by
										ul
											li
												label
													span max 500 characters
												textarea(name="profile[motivation]", placeholder="E.g: I love to work on musical projects, the combination of music and teaching makes me tick!")
													=user.profile.motivation
									div.clearfix
									button(type='submit')#save_profile.chunky_btn.blue.right Save
									button#cancel_profile.chunky_btn.right Cancel
				footer