extends layouts/layout

block append scripts

block content
	div.layout_960
		aside#personal_details.col1of2
			div.widget.experteer
				header
					div.icon
					h3= experteer.fullName()
				section.widget_body
					div.avatar
						.av_img_container
							if experteer.avatar || experteer.type
								img(src= experteer.avatar || "/images/icn_avatar_"+experteer.type+".png", width="80", height="80")
							if experteer.verified
								div.verified
					ul
						if experteer.professions
							li
								h3=experteer.professions[0]
						li
							strong= experteer.city+", "+experteer.country
						if experteer.birthday
							li
								strong Age:&nbsp;
								=experteer.age()
					nav
						ul
							li
								a(href="/experteer/"+experteer.id).chunky_btn Details
			div.detail.clearfix
				nav.credentials.clearfix
					ul
						li
							a.friends_btn(href="/explore") 101
								span Friends
						li
							a.invited_btn(href="/explore") 5
								span invited
							- if(typeof experteer.invite.invited_by !== 'undefined')
								li.invited_by
									span invited by
									a(href="#")= experteer.invite.invited_by
				nav.profile_links
					ul
						each link, key in experteer.links
							-var display = (key == 'url') ? link : key
							if link !== ''
								li
									a(href=link, class=key+'_link', )= display

			if experteer.bio && experteer.bio.length
				div.detail
					h4 Biography
					=experteer.bio

			if experteer.education && experteer.education.length
				div.detail
					h4 Education
					each edu in experteer.education
						ul
							li
								strong= edu.school
							li= edu.degree+" "+edu.major
							if edu.start && edu.end
								li= edu.start.getFullYear()+" to "+edu.end.getFullYear();

			if experteer.employment && experteer.employment.length
				div.detail
					h4 Employment History
					each emp in experteer.employment
						ul
							li
								strong= emp.title
							li= emp.employer
							if emp.start && emp.end
								li= emp.start.getFullYear()+" to "+emp.end.getFullYear();

			if experteer.languages && experteer.languages.length
				div.detail
					h4 Languages
					ul
						each lang in experteer.languages
							li= lang

			if experteer.skills && experteer.skills.length
				div.detail
					h4 Skills
					=experteer.skills.join(', ');

			//- if experteer.lived && experteer.lived.length
				div.detail
					h4 Lived
					=experteer.lived.join(', ');

			if experteer.visited && experteer.visited.length > 0
				div.detail
					h4 Visited
					=experteer.visited.join(', ');

		// Experteering Profile
		div#exp_profile.col2of2
			section.status_bar
				-var status = experteer.interpretStatus();
				div(class="status "+status.class)= status.label
				nav
					ul
						li
							a.smooth_btn.green Apply
						li
							a.smooth_btn.red Favorite
			section.stack_630
				header
					h2.experteering_icon= experteer.employment[0].title
				- if(experteer.profile.video)
					div.profile_video
						div.video_container!= youtube.embed(extractYoutubeId(experteer.profile.video), 558, 314);
				div.stack_body.clearfix
					div.col1of2
						if experteer.profile.motivation
							h4 Motivation
							p= experteer.profile.motivation
						if experteer.profile.availability && experteer.profile.availability.start && experteer.profile.availability.end
							h4 Availablity
							p!= moment( experteer.profile.availability.start ).format('MMMM D, YYYY')+" <em>to</em> "+moment( experteer.profile.availability.end ).format('MMMM D, YYYY')
						if experteer.profile.field
							h4 Field
							p= experteer.profile.field
					div.col2of2
						if experteer.profile.goals && experteer.profile.goals.length > 0
							h4 Personal Learning Goals
							p= experteer.profile.goals.join(', ')
						if experteer.profile.countries && experteer.profile.countries.length > 0
							h4 Regions of Interest
							p= experteer.profile.countries.join(', ')
						if experteer.profile.value
							h4 Value
							p= "$"+experteer.profile.value+" per hour"
						if experteer.profile.industry && experteer.profile.industry.length > 0
							h4 Industry
							p= experteer.profile.industry.join(', ')
				footer