extends layouts/layout

block append scripts

block content
	div.layout_960
		h1#page_head= message+" "
			em= search_str
		for item, i in search_result
			-var className = (i % 3 == 2) ? 'last' : '';
			div.widget.org(class=className)
				header
					div.icon
					h3= item.name || 'Undefined'
				section.widget_body
					div.avatar
						.av_img_container
							img(src= item.avatar || "/images/icn_avatar_org.png", width="80", height="80")
							if(item.verified)
								div.verified
					ul
						li
							h3= item.city+", "+item.country
						li
							strong Status:
							=item.type
						li
							- var size = item.interpretSize()
							strong Size:
							span( title=size.desc )= size.title
						li
							strong Field:
							=item.opportunities[0].field
					nav
						ul
							li
								a(href="/organization/"+item.id+"/").chunky_btn Details