extends layouts/layout

block append scripts
	script(src="/javascript/plugins/jquery-ui.min.js")
	script(src="/javascript/plugins/jquery.tag-it.js")
	script(src="/javascript/plugins/jquery.cookie.js")
	script( src='/javascript/plugins/jquery.mw_combo.js')
	script( src='/javascript/plugins/jquery.mw_modal.js')
	script( src='/javascript/plugins/jquery.validate.min.js')
	script(src="/javascript/search.js")

block content
	div.layout_960
		div.col1of2
			h2 refine your search
			section#favs_n_pats.tab_widget
					nav.clearfix
						ul.small
							li: a(href="#experteers") Experteers
							li: a(href="#ses") SE<small>s</small>
					div#experteers
						form
							ul
								li
									label Gender
									ul
										li
											input( type="checkbox", id="male", name="gender", value="male", tabindex="5"  )
											label(for="male") Male
										li
											input( type="checkbox", id="female", name="gender", value="female", tabindex="6"  )
											label(for="female") Female
								li
									label Country
									select(name="country", class="combobox")
										include includes/countries_combo
								li
									label(for="languages") Languages
									input( type="text", id="languages", name="languages", tabindex="7", class="tags"  )
					div#ses
						form
							ul
								li
									label Country
									select(name="country", class="combobox")
										include includes/countries_combo
								li
									label(for="languages") Languages
									input( type="text", id="languages", name="languages", tabindex="7", class="tags"  )
		div.col2of2
			h2= message+" "
				em= search_str
			for item, i in search_result
				-var className = (i % 2 == 1) ? 'last' : '';
				if item.type == 'experteer'

					div.widget.experteer(class=className)
						header
							div.icon
							h3= item.fullName()
						section.widget_body
							div.avatar
								.av_img_container
									if(item.avatar || item.type)
										img(src= item.avatar || "/images/icn_avatar_"+item.type+".png", width="80", height="80")
									if(item.verified)
										div.verified
							ul
								if(item.professions)
									li
										h3=item.professions[0]
								li
									strong= item.city+", "+item.country
								if(item.birthday)
									li
										strong Age:&nbsp;
										=item.age()
							nav
								ul
									li
										a(href="/experteer/"+item.id).chunky_btn Details
				else
					div.widget.se(class=className)
						header
							div.icon
							h3= item.name || 'Undefined'
						section.widget_body
							div.avatar
								.av_img_container
									img(src= item.img || "/images/icn_avatar_se.png", width="80", height="80")
									if(item.verified)
										div.verified
							ul
								li
									strong Type&nbsp;
									=item.interpretType()
								li
									- var size = item.interpretSize()
									strong Size&nbsp;
									span(title=size.desc)= size.title
								li
									strong Industry&nbsp;
									=item.industry
								li
									if item.registered.is_registered
										strong Registered since&nbsp;
										=item.registered.year
									else
										| Not registered
							nav
								ul
									li
										a(href="/social_enterprise/"+item.id+"/").chunky_btn Details