extends ../default

block generic-content
  h1 Partners
  :markdown
    The following partners are helping recruit amazing social impact organizations and people. Make sure to check our their sites, they can probably be of value to you, too.

    And if you're interested in joining the movement, please [contact us](/contact).

  ul.partners
    li
      a(href="http://giirs.org/", target="_blank")
        img(
          alt="Global Impact Investment Rating System", 
          src="http://giirs.org/templates/giirs/images/giirs-logo.png", 
          style="width: 230px; height: 101px;"
        )

    li
      a(href="http://www.startsomegood.com", target="_blank")
        img(
          alt="Start Some Good", 
          src="https://blogs.worldbank.org/dmblog/files/dmblog/images/startsomegood_logo.jpg", 
          style="width: 230px; height: 67px;"
        )

    li
      a(href="http://startupchile.org", target="_blank")
        img(
          alt="Startup Chile", 
          src="http://gizmorati.com/wp-content/uploads/2012/11/start-up-chile.jpg", 
          style="width: 230px; height: 109px;"
        )

    li
      a(href="http://www.bidnetwork.org/", target="_blank")
        img(
          alt="Business In Development Network", 
          src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRQhwmc5QXpFm6LLAxTxWv5E-SiojXHGWYqtsQNEjKcGT-F03BgJw", 
          style="width: 230px; height: 103px;"
        )

    li
      a(href="http://unreasonableinstitute.org/", target="_blank")
        img(
          alt="Unreasonable institute", 
          src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQnoHdN1wXB6m44OCZs7voIreAOlgw3dNhuWitZdxCcQrv7jzgP", 
          style="width: 230px; height: 52px;"
        )

    li
      a(href="http://rework.jobs/", target="_blank")
        img(
          alt="ReWork Jobs", 
          src="http://rework.jobs/assets/logos/rework-ed383142096e8960623a06e49a853add.png", 
          style="width: 96px; height: 34px;"
        )
