extends ../../layouts/layout

block append scripts
		script( src='/javascript/plugins/jquery-ui.min.js')
		script( src='/javascript/plugins/jquery.mw_combo.js')
		script( src='/javascript/plugins/jquery.tag-it.js')
		script( src='/javascript/plugins/jquery.mw_modal.js')
		script( src='/javascript/plugins/jquery.mw_fieldcloner.js')
		script( src='/javascript/plugins/jquery.validate.min.js')
		script( src='/javascript/register.js')


block content
	div.layout_960

		nav#steps.clearfix
			ul
				li.step1.on
					span Basic Information
				li.step2.on
					span Personal Information
				li.step3
					span Work &amp; Education
				li.step4
					span Review
		section.stack_960
			header
				h2 2. Personal Information
			section(class="stack_body clearfix step2")
				form( action="", method="post")
					fieldset.col1of2.split
						ul
							li
								label(for="skills") Skills & Expertise
									span Input multiple values
								- var skill = user.skills;
								input( type="text", id="skills", name="skills", tabindex="1", class="tags", value=user.skills )
							li
								label(for="interests") Interests
									span Input multiple values
								input( type="text", id="interests", name="interests", tabindex="2", class="tags", value=user.interests  )
							li
								label(for="bio") Bio
								textarea( id="bio", name="bio", tabindex="3" ) user.bio
							li
								label(for="lived") Countries lived
									span Not including current country or residence
								input( type="text", id="lived", name="lived", tabindex="4", class="tags", value=user.lived )
							li
								label(for="visited") Countries visited
									span Not including countries lived
								input( type="text", id="visited", name="visited", tabindex="5", class="tags", value=user.visited )
					fieldset.col2of2.split
						ul
							li#upload_avatar
								div.avatar
									.av_img_container
										img(src=user.avatar || "/images/icn_avatar_experteer.png", width="80", height="80")
								input( type="file", id="avatar", name="avatar", tabindex="6"  )
							li
								label(for="languages") Languages
									span Input multiple values
								input( type="text", id="languages", name="languages", tabindex="7", class="tags", value=user.languages)
							li
								label Main area of support
								ul
									li
										input( type="radio", id="management", name="support", value="management", tabindex="9"  )
										label(for="management") Management
									li
										input( type="radio", id="technical", name="support", value="technical", tabindex="10"  )
										label(for="technical") Technical
									li
										input( type="radio", id="support_other", name="support", value="other", tabindex="11"  )
										label(for="other") Other
					h3.clear Networks
					hr
					fieldset.col1of2.split
						ul
							li
								label(for="url") Blog / Website
								input( type="text", id="url", name="links[url]", tabindex="12", value=user.links && user.links.url )
							li
								label(for="twitter") Twitter
								input( type="text", id="twitter", name="links[twitter]", tabindex="14", value=user.links && user.links.twitter )
					fieldset.col2of2.split
						ul
							li
								label(for="linkedin") LinkedIn
								input( type="text", id="linkedin", name="links[linkedin]", tabindex="13", value=user.links && user.links.linkedin )
							li
								label(for="facebook") Facebook
								input( type="text", id="facebook", name="links[facebook]", tabindex="15", value=user.links && user.links.facebook )
					nav#progress
						a(href="/landing")#skip.big.smooth_btn.gray Skip
						button(type="submit")#next.big.smooth_btn Next
			footer