extends ../../layouts/layout

block append scripts
		script( src='/javascript/plugins/jquery-ui.min.js')
		script( src='/javascript/plugins/jquery.mw_combo.js')
		script( src='/javascript/plugins/jquery.tag-it.js')
		script( src='/javascript/plugins/jquery.mw_modal.js')
		script( src='/javascript/plugins/jquery.mw_fieldcloner.js')
		script( src='/javascript/plugins/jquery.validate.min.js')
		script( src='/javascript/register.js')


block content
	div.layout_960

		nav#steps.clearfix
			ul
				li.step1.on
					span Basic Information
				li.step2.on
					span Personal Information
				li.step3
					span Work &amp; Education
				li.step4
					span Review
		section.stack_960
			header
				h2 2. Personal Information
			section(class="stack_body clearfix step2")
				- if(!user.connections || !user.connections.linkedin || !user.connections.linkedin.id)
					nav.social_connects.clearfix
						ul.no_style
							li
								a(href="/auth/linkedin").linkedin_connect Sign up with LinkedIn
								small.disclaimer Recommended for fast Signup
				form( action="/register/2/experteer", method="post", enctype="multipart/form-data")
					fieldset.col1of2.split
						ul
							li
								label(for="headline") Professional headline
									span max 50 characters
								input(type="text", id="headline", name="headline", tabindex="0", value=user.headline, placeholder="What you do best in few words")
							li
								label(for="skills") Skills & Expertise
									span Enter your skills, comma-separated
								- var skill = user.skills;
								input( type="text", id="skills", name="skills", tabindex="1", class="tags", value=user.skills)
							li
								label(for="interests") Interests
									span Enter your interests, comma-separated
								input( type="text", id="interests", name="interests", tabindex="2", class="tags", value=user.interests  )
							li
								label(for="bio") Personal Description
									span max 500 characters
								textarea( id="bio", name="bio", tabindex="3", placeholder="Describe yourself and your experience. Try to be appealing and concise!" )= user.bio
							//-li
								label(for="lived") Countries lived
									span Not including current country or residence
								input( type="text", id="lived", name="lived", tabindex="4", class="tags", value=user.lived )
							li
								label(for="visited") Countries visited
									span Enter countries, comma-separated
								input( type="text", id="visited", name="visited", tabindex="5", class="tags", value=user.visited )
					fieldset.col2of2.split
						ul
							li#upload_avatar
								label Upload your Photo
								div.avatar
									.av_img_container
										img(src=user.avatar || "/images/icn_avatar_experteer.png", width="80", height="80")
								input( type="file", id="avatar", name="avatar", tabindex="6"  )
							li
								label(for="languages") Languages
									span Enter your languages, comma-separated
								input( type="text", id="languages", name="languages", tabindex="8", class="tags", value=user.languages)
							li
								label Area of support
									span max 6
								select(id="area_support", tabindex="9").combobox
									include ../../includes/area_support_combo
								a(style="margin-top: 5px")#add_support.chunky_btn.small.right Add
								div#areas.tagit
					h3.clear Networks
					hr
					fieldset.col1of2.split
						ul
							li
								label(for="url") Blog / Website
								input( type="text", id="url", name="links[url]", tabindex="12", value=user.links && user.links.url, placeholder="Your website link here" )
							li
								label(for="twitter") Twitter
								input( type="text", id="twitter", name="links[twitter]", tabindex="14", value=user.links && user.links.twitter, placeholder="Your Twitter profile link here" )
					fieldset.col2of2.split
						ul
							li
								label(for="linkedin") LinkedIn
								input( type="text", id="linkedin", name="links[linkedin]", tabindex="13", value=user.links && user.links.linkedin, placeholder="Your Linkedin profile link here" )
							li
								label(for="facebook") Facebook
								input( type="text", id="facebook", name="links[facebook]", tabindex="15", value=user.links && user.links.facebook, placeholder="Your Facebook profile link here" )
					nav#progress
						a(href="/register/4/experteer")#skip.big.smooth_btn.gray Skip
						button(type="submit")#next.big.smooth_btn Next
			footer